---
interface Props {
  path: string;
  description: string;
}

const { path, description } = Astro.props;
import {SEO} from "astro-seo"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>falsefox: {path}</title>
    <SEO
    title=`falsefox: ${path}`
    description={description}
    openGraph={{
      basic: {
        title: `falsefox: ${path}`,
        type: "article",
        url: "",
        image: ""
      },
      optional: {
            siteName: "falsefox.dev"
        },
    }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
      html {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:white;
        background-color: #0d1117;
        margin: 2em;
        width: 100vw;
    }
    a:link {
    color:#58a6ff
  }
  a:visited {
    color:#8e96f0
  }
  p {
  max-width: 40em;
  }
  @media (max-width: 600px) {
  p {
    max-width: 80vw;

  }
  
}

  body {
    font-family: "Mplus2", sans-serif;
  }

  @font-face {
    font-family: "MPlus1";
	  src: url('../fonts/MPLUS1-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: "Mplus2";
	  src: url('../fonts/MPLUS2-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: "w95fa";
	  src: url('../fonts/w95fa.woff');
  }
</style>
